# IDE config files (should be in each contributor ~/.gitignore_global file)
.idea
*.sublime-project
*.sublime-workspace

# Composer
vendor
bootstrap.php.cache
cache
sessions

/.docker-build
/composer.phar
/docker/data
/docker-compose.override.yml
