
body {
    background-color: #4c6eaf;
    color: #333;
    font: 100% Lato, Arial, Sans Serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size:6em;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

/* KEYFRAMES */

/**
@todo add prefix management
 */

/*@-webkit-keyframes animateBubble {
    0% {
        transform: translateY(1000px);
    }
}

@-moz-keyframes animateBubble {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}*/

@keyframes animateBubble {
    0% {
        transform: translateY(1000px);
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

/*@-webkit-keyframes sideWays {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px)
    }
}

@-moz-keyframes sideWays {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px)
    }
}*/

@keyframes sideWays {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px)
    }
}

/* ANIMATIONS */

div.x1{
    -webkit-animation: animateBubble 25s linear infinite;
    -moz-animation: animateBubble 25s linear infinite;
    animation: animateBubble 25s linear infinite;
}
div.x2{
    -webkit-animation: animateBubble 20s linear infinite;
    -moz-animation: animateBubble 20s linear infinite;
    animation: animateBubble 20s linear infinite;
}
div.x3{
    -webkit-animation:animateBubble 28s linear infinite;
    -moz-animation:animateBubble 28s linear infinite;
    animation:animateBubble 28s linear infinite;
}
div.x4{
    -webkit-animation:animateBubble 22s linear infinite;
    -moz-animation:animateBubble 22s linear infinite;
    animation:animateBubble 22s linear infinite;
}
div.x5{
    -webkit-animation:animateBubble 29s linear infinite;
    -moz-animation:animateBubble 29s linear infinite;
    animation:animateBubble 29s linear infinite;
}
div.x6{
    -webkit-animation:animateBubble 21s linear infinite;
    -moz-animation:animateBubble 21s linear infinite;
    animation:animateBubble 21s linear infinite;
}
div.x7{
    -webkit-animation:animateBubble 20s linear infinite;
    -moz-animation:animateBubble 20s linear infinite;
    animation:animateBubble 20s linear infinite;
}
div.x8{
    -webkit-animation:animateBubble 22s linear infinite;
    -moz-animation:animateBubble 22s linear infinite;
    animation:animateBubble 22s linear infinite;
}
div.x9{
    -webkit-animation:animateBubble 29s linear infinite;
    -moz-animation:animateBubble 29s linear infinite;
    animation:animateBubble 29s linear infinite;
}
div.x0{
    -webkit-animation:animateBubble 26s linear infinite;
    -moz-animation:animateBubble 26s linear infinite;
    animation:animateBubble 26s linear infinite;
}

.x1 img {
    -webkit-animation: sideWays 2s ease-in-out infinite alternate;
    -moz-animation: sideWays 2s ease-in-out infinite alternate;
    animation: sideWays 2s ease-in-out infinite alternate;

    top: 5%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 img {
    -webkit-animation: sideWays 4s ease-in-out infinite alternate;
    -moz-animation: sideWays 4s ease-in-out infinite alternate;
    animation: sideWays 4s ease-in-out infinite alternate;

    top: 80%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x3 img {
    -webkit-animation: sideWays 2s ease-in-out infinite alternate;
    -moz-animation: sideWays 2s ease-in-out infinite alternate;
    animation: sideWays 2s ease-in-out infinite alternate;

    top: 40%;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x4 img {
    -webkit-animation: sideWays 3s ease-in-out infinite alternate;
    -moz-animation: sideWays 3s ease-in-out infinite alternate;
    animation: sideWays 3s ease-in-out infinite alternate;

    top: 0;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 img {
    -webkit-animation: sideWays 4s ease-in-out infinite alternate;
    -moz-animation: sideWays 4s ease-in-out infinite alternate;
    animation: sideWays 4s ease-in-out infinite alternate;

    top: 50%;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x6 img {
    -webkit-animation: sideWays 2s ease-in-out infinite alternate;
    -moz-animation: sideWays 2s ease-in-out infinite alternate;
    animation: sideWays 2s ease-in-out infinite alternate;

    top: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x7 img {
    -webkit-animation: sideWays 2s ease-in-out infinite alternate;
    -moz-animation: sideWays 2s ease-in-out infinite alternate;
    animation: sideWays 2s ease-in-out infinite alternate;

    top: 70%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 img {
    -webkit-animation: sideWays 3s ease-in-out infinite alternate;
    -moz-animation: sideWays 3s ease-in-out infinite alternate;
    animation: sideWays 3s ease-in-out infinite alternate;

    top: 10%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 img {
    -webkit-animation: sideWays 4s ease-in-out infinite alternate;
    -moz-animation: sideWays 4s ease-in-out infinite alternate;
    animation: sideWays 4s ease-in-out infinite alternate;

    top: 50%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x0 img {
    -webkit-animation: sideWays 2s ease-in-out infinite alternate;
    -moz-animation: sideWays 2s ease-in-out infinite alternate;
    animation: sideWays 2s ease-in-out infinite alternate;

    top: 80%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    /*-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);*/

    height: 150px;
    position: absolute;
    width: 150px;
}

.hidden {
    transform: translate(-1000px, -50%);
    transition: all 1s linear 1s;
    opacity: 0;
}

h1.winner{
    opacity: 0;
    transform: translate(1000px, -50%);
    transition: all 1s ease-in-out 1s;
}

h1.winner:not(:empty) {
    opacity: 1;
    transform: translate(-50%, -50%)
}

div.winner-data img {
    animation: winner 1s ease-in-out;
    transform: scale(1.5) translateX(-33%);
}

div.winner-data{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
}

@keyframes winner {
    0% {
        transform: scale(0.2) translateX(0);
    }
    50% {
        transform: scale(2.5) translateX(-20%);
    }
    100% {
        transform: scale(1.5) translateX(-33%);
    }
}

div.logo{
    position: absolute;
    padding: 1em;
}

div.buttons {
    position: absolute;
    right: 0;
    padding: 1em;
}
div.buttons button{
    display: inline-block;
    background-color: white;
    padding: 0.4em;
    border:none;
}
div.buttons button:first-child{
    margin-right:1em;
}

/*
.bubble:after {
    !*background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); !* FF3.6+ *!
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); !* Chrome,Safari4+ *!
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); !* Chrome10+,Safari5.1+ *!
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); !* Opera 12+ *!
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); !* IE10+ *!
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); !* W3C *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*!

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

    content: "";
    height: 180px;
    left: 10px;
    position: relative;
    width: 180px;
}
*/
