<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <link rel="stylesheet" href="/tombola.css">
</head>

<body>
<section>
    <div class="x1"><img src="{{ avatar }}" class="bubble"/></div>
</section>
</body>
</html>
