<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <link rel="stylesheet" href="/tombola.css">
</head>

<body>
<section>
    OK MERCI TU VAS POUVOIR JOUER
</section>
</body>
</html>
