<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tombola AFUP</title>
</head>

<body>
    <div>
        <img src="{{ app.request.session.get('user').avatar }}&s=150" />
    </div>
<script>

    {# @todo change url #}
	var conn = new WebSocket('ws://localhost:8090');
	conn.onopen = function(e) {
		//console.log("Connection established!");
		var user  = {
			avatar: "{{ app.request.session.get('user').avatar }}&s=150",
            nickname: "{{ app.request.session.get('user').nickname }}",
            admin: 0,
            name: "{{ app.request.session.get('user').name }}"
        };

		conn.send(JSON.stringify(user));

		conn.close();
	};

	conn.onmessage = function(e) {

	};
</script>
</body>
</html>
